.list-items {
  border-radius: $border-radius-site;
  min-height: 0px;//adapt in js if needed

  .heading {
    width: 100%;
    margin-left: $spacing-h/2; //0.5em;
    margin-top: 0;

    font-size: 1.7em;
    font-weight: 600;
  }

  .item_list {
    padding: $spacing-v/2 $spacing-h 0 $spacing-h;
    border-radius: $border-radius-site;   
  }
 
}

.case-list-unresize {
  .item_list::after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    margin-top: $spacing-v/2;
    height: 0px;
    visibility: hidden;
  }
}

.list-items-no-bg {
  border-radius: $border-radius-site;
  min-height: 0px;//adapt in js if needed

  .heading {
    width: 100%;
    margin-left: $spacing-h/2;
    margin-top: 0;

    font-size: 1.7em;
    font-weight: 600;
  }

  .item_list {   
  }

}
