{%comment%}
<!--
  param in :
    include
      before
      design_model
      page_ref_url
      display_header
      add_url_to_header
      header

  param out : display html




-->
{%endcomment%}



{% if include.before == true %}


  {% comment %}
    <!-- assign custom list_flex model -->
  {% endcomment %}
  {% assign config_flex_model = null %}
  {% assign styling_model = null %}
  {% include UI/list_flex/utils/select-model.html
    model=include.design_model
  %}

  {% assign one_space = site.data.coll_ext.config.common.space_string %}
  {% assign empty_string = site.data.coll_ext.config.common.empty_string %}




  {% comment %}<!-- container styling -->{% endcomment %}
  {% assign container_style = empty_string %}

  {% include UI/utils/update_class-model.html
    current_class=container_style
    add_to_class=styling_model.container
    empty_string=empty_string
    one_space=one_space
  %}
  {% assign container_style = updating_class  %}

  {% if styling_model.box_unresize == true %}
    {% include UI/utils/update_class-model.html
      current_class=container_style
      add_to_class=site.data.coll_ext.design.UI.list_flex.config.extra_class_list_unresize
      empty_string=empty_string
      one_space=one_space
    %}
    {% assign container_style = updating_class  %}
  {% endif %}
  {% comment %}<!-- end container styling -->{% endcomment %}

  {% include UI/utils/update_class-model.html
    current_class=container_style
    add_to_class=styling_model.container_color
    empty_string=empty_string
    one_space=one_space
  %}
  {% assign container_style = updating_class  %}


  <div class="{{container_style}}">

    {% if include.display_header == true %}
      
        <h3 class="heading">
          {% if include.add_url_to_header == true %}
            {% if include.page_ref_url != null %}
              <a  href="{{site.baseurl}}{{include.page_ref_url}}">
            {% else %}
              <a  href="">
            {% endif %}
          {% endif %}
            {{include.header}}
          {% if include.add_url_to_header == true %}
            </a>
          {% endif %}
        </h3>
      
    {% endif %}

    {% comment %}<!-- container ul-grid -->{% endcomment %}
    {% assign container_ul_grid = empty_string  %}

    {% include UI/utils/update_class-model.html
      current_class=container_ul_grid
      add_to_class=site.data.coll_ext.design.UI.list_flex.config.default_grid
      empty_string=empty_string
      one_space=one_space
    %}
    {% assign container_ul_grid = updating_class  %}



    {% include UI/utils/update_class-model.html
      current_class=container_ul_grid
      add_to_class=config_flex_model.grid_styling
      empty_string=empty_string
      one_space=one_space
    %}
    {% assign container_ul_grid = updating_class  %}

    <ul class="{{container_ul_grid}}">

{% else %}


    </ul>

  </div>




{% endif %}

