{% include coll_ext/config/common-param.html %}

{% assign list_title_item_acceuil = delim %}
{% assign list_link_article_item_acceuil = delim %}

{% for collection in site.collections %}
  {% if collection.label == 'nos-informations' %}
    {% assign raw_items_navig_acceuil = collection.docs %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign items_tmp = raw_items_navig_acceuil | sort: 'order' %}


{% for item_tmp in items_tmp %}  
 
  {% if item_tmp.path contains '/page-acceuil/menu-liens-articles/' %} 
    {% unless item_tmp.path contains '/index.md'  %}
      {% if item_tmp.order < 100 %}
        {% assign list_title_item_acceuil = list_title_item_acceuil | append : item_tmp.title | append: delim %}
        {% assign list_link_article_item_acceuil = list_link_article_item_acceuil | append : item_tmp.link | append: delim %}
      {% endif %}
    {% endunless %}
  {% endif %} 

{% endfor %}

{% assign array_title_item_acceuil = list_title_item_acceuil | remove_first: delim | split: delim  %}
{% assign array_title_item_acceuil_size = array_title_item_acceuil.size | minus: 1 %}
{% assign array_link_article_item_acceuil = list_link_article_item_acceuil | remove_first: delim | split: delim  %}
{% assign detect_url_page = false %}