{%comment%}
<!--
  param in :
    include
      container_display
      container_ref
      type_slider_display
      type_slider_ref
      list_sliders
      config_type
      delim_id
      delim_array


  var global :

  out : file css from _assets/scss-liquid/

-->
{%endcomment%}

{% assign delim_id = include.delim_id %}
{% assign delim_array = include.delim_array %}


{% assign config_slide = null %}
{% for config in include.config_type  %}
  {% if config.type == include.type_slider_ref %}
    {% assign config_slide = config %}
  {% endif %}
{% endfor %}


{% assign period_info_css = site.data.scss_liquid.coll_ext.config.period_info_css %}
{% assign offset_dist_info_css = site.data.scss_liquid.coll_ext.config.offset_dist_info_css %}
{% assign offset_url_info_css = site.data.scss_liquid.coll_ext.config.offset_url_info_css %}
{% assign offset_type_info_css = site.data.scss_liquid.coll_ext.config.offset_type_info_css %}
{% assign offset_nbitems_info_css = site.data.scss_liquid.coll_ext.config.offset_nbitems_info_css %}
{% assign offset_custom_model_info_css = site.data.scss_liquid.coll_ext.config.offset_custom_model_info_css %}



{% assign trunc_url_part = site.data.scss_liquid.coll_ext.config.trunc_url_part %}


{% assign height_items = 'auto' %}



{% assign array_sliders = include.list_sliders  | remove_first: delim_array | split: delim_array %}
{% assign nb_elt_sliders =  array_sliders.size | divided_by: period_info_css  %}
{% assign iter_max_elt_sliders = nb_elt_sliders | minus: 1  %}
{% assign index_elt_sliders = 0  %}
{% assign max_items_slider = 0 %}



{% assign index_elt_sliders = 0  %}
{% for iter_elt_sliders in (0..iter_max_elt_sliders) %}

  {% assign index_tmp = index_elt_sliders | plus: offset_dist_info_css %}
  {% assign dist_info_css = array_sliders[index_tmp] %}
  {% assign index_tmp = index_elt_sliders | plus: offset_url_info_css %}
  {% assign url_info_css = array_sliders[index_tmp] %}
  {% assign index_tmp = index_elt_sliders | plus: offset_type_info_css %}
  {% assign type_info_css = array_sliders[index_tmp] %}
  {% assign index_tmp = index_elt_sliders | plus: offset_nbitems_info_css %}
  {% assign nb_items = array_sliders[index_tmp] | plus: 0 %}
  {% assign index_tmp = index_elt_sliders | plus: offset_custom_model_info_css %}
  {% assign custom_model = array_sliders[index_tmp] %}

  {% if nb_items >  max_items_slider %}
    {% assign max_items_slider = nb_items %}
  {% endif %}

  {% assign id_slider = '' %}
  {% include scss-liquid/collection_ext/slider_translate/id_from_info_css.html
    url_ref=url_info_css
    dist_item=dist_info_css
    type_item=type_info_css
    trunc_url_part=trunc_url_part
    delim_id=delim_id
  %}

  @include  slider_standard_extra_before({{include.container_display}}, {{include.type_slider_display}}, {{include.type_slider_ref}}, {{id_slider}}, {{nb_items}}, {{height_items}});


  {% comment %}
    todo conditionned case if needed radio bution for each carousel on page, by default  with coll_ext
  {% endcomment %}

  @include  slider_coll_ext_setup_radio({{include.container_display}},  {{include.container_ref}}, {{include.type_slider_display}}, {{include.type_slider_ref}}, {{id_slider}}, {{nb_items}}, {{height_items}});





  {% comment %}
    //custom model
  {% endcomment %}

  {% assign styling_model = null  %}
  {% assign type_custom_model = null %}
  {% include scss-liquid/collection_ext/slider_translate/select_custom_model.html
    custom_model=custom_model
  %}

  {% assign custom_model_default = site.data.coll_ext.design.UI.slider.config.default_model_selected %}


  {% comment %} //custom model default :  heading_color , slides_background   {% endcomment %}
  {% if type_custom_model == site.data.coll_ext.design.UI.slider.config.default_model_selected %}

    {% include scss-liquid/palette_color/assign_color.html
      palette_color=site.data.custom.design.palette_color
      name_color_search=styling_model.heading_color
    %}
    {% assign heading_color  = assign_color %}

    {% include scss-liquid/palette_color/assign_color.html
      palette_color=site.data.custom.design.palette_color
      name_color_search=styling_model.slides_background
    %}
    {% assign slides_background  = assign_color %}

    {% assign hide_heading_dist1 = false %}
    {% if styling_model.hide_heading_dist1 %}
      {% assign hide_heading_dist1 = true %}
    {% endif %}

    @include  slider_default_custom_design_coll_ext({{include.container_display}},  {{include.container_ref}}, {{include.type_slider_display}}, {{include.type_slider_ref}}, {{id_slider}}, {{heading_color}}, {{slides_background}}, {{hide_heading_dist1}});

  {% endif %}





  {% assign index_elt_sliders = index_elt_sliders | plus: period_info_css  %}

{% endfor %}


{% comment %}custom{% endcomment %}
{% assign bg_define = false %}
{% assign bg_color  = 'white' %} 
{% assign header_color_define = false %}
{% assign header_color  = 'white' %} 

{% if max_items_slider > 0 %}




  @include slider_design_standard({{include.container_display}}, {{include.container_ref}}, {{include.type_slider_display}}, {{include.type_slider_ref}}, {{bg_define}}, {{bg_color}}, {{header_color_define}},{{header_color}});



  @include slider_article_coll_ext({{include.container_display}}, {{include.type_slider_display}}, {{include.type_slider_ref}});


  {% comment %}<!-- setup radio button desactivate for coll_ext, doing for each in slider_coll_ext_setup_radio (need id_slider !) -->{% endcomment %}
  @include slider_standard({{include.container_display}}, {{include.container_ref}}, {{include.type_slider_display}}, {{include.type_slider_ref}}, {{max_items_slider}});



  {% comment %}<!-- controls not use with coll_ext, here specific mixin to force at display none -->{% endcomment %}
  @include slider_controls_ctl_coll_ext({{include.container_display}}, {{include.type_slider_display}}, {{include.type_slider_ref}});



  @include slider_active_ctl_coll_ext({{include.container_display}}, {{include.type_slider_display}}, {{include.type_slider_ref}});



{% comment %}
  <!-- info box not use with coll_ext -->
  <!-- @include slider_info_box_standard({{include.container_display}}, {{include.type_slider_display}}, {{include.type_slider_ref}}); -->
{% endcomment %}

  @include slider_animation_standard({{include.container_display}}, {{include.type_slider_display}}, {{include.type_slider_ref}});


{% endif %}



{% comment %}
<!-- controls not use with coll_ext, no need to exec slider_standard_extra_after, specific controls  -->
<!--
{% assign index_elt_sliders = 0  %}
{% for iter_elt_sliders in (0..iter_max_elt_sliders) %}

  {% assign index_tmp = index_elt_sliders | plus: offset_dist_info_css %}
  {% assign dist_info_css = array_sliders[index_tmp] %}
  {% assign index_tmp = index_elt_sliders | plus: offset_url_info_css %}
  {% assign url_info_css = array_sliders[index_tmp] %}
  {% assign index_tmp = index_elt_sliders | plus: offset_type_info_css %}
  {% assign type_info_css = array_sliders[index_tmp] %}
  {% assign index_tmp = index_elt_sliders | plus: offset_nbitems_info_css %}
  {% assign nb_items = array_sliders[index_tmp] | plus: 0 %}


  {% assign id_slider = '' %}
  {% include scss-liquid/collection_ext/slider_translate/id_from_info_css.html
    url_ref=url_info_css
    dist_item=dist_info_css
    type_item=type_info_css
    trunc_url_part=trunc_url_part
    delim_id=delim_id
  %}

  @include  slider_standard_extra_after({{include.container_display}}, {{include.type_slider_display}}, {{include.type_slider_ref}}, {{id_slider}}, {{nb_items}}, {{max_items_slider}});


  {% assign index_elt_sliders = index_elt_sliders | plus: period_info_css  %}
{% endfor %}
-->
{% endcomment %}
