{%comment%}
<!--
  param in :
    include
      dist_to_force


  var globale
    delim
    raw_items
    extension_section


  param out:


 -->
{%endcomment%}


{% assign dist_to_force = include.dist_to_force | plus: 0 %}


{% assign period_info_subsection = site.data.coll_ext.config.display_list-items.config.period_info_subsection | plus: 0 %}
{% assign offset_index_subsection = site.data.coll_ext.config.display_list-items.config.offset_index_subsection | plus: 0 %}
{% assign offset_dist_subsection = site.data.coll_ext.config.display_list-items.config.offset_dist_subsection | plus: 0 %}
{% assign offset_nbitems_subsection = site.data.coll_ext.config.display_list-items.config.offset_nbitems_subsection | plus: 0 %}
{% assign offset_tab_offset_subsection = site.data.coll_ext.config.display_list-items.config.offset_tab_offset_subsection | plus: 0 %}


{% assign period_info_items_section = site.data.coll_ext.config.display_list-items.config.period_info_items_section | plus: 0 %}
{% assign offset_index_items_section = site.data.coll_ext.config.display_list-items.config.offset_index_items_section | plus: 0 %}
{% assign offset_dist_items_section = site.data.coll_ext.config.display_list-items.config.offset_dist_items_section | plus: 0 %}
{% assign offset_nbitems_items_section = site.data.coll_ext.config.display_list-items.config.offset_nbitems_items_section | plus: 0 %}
{% assign offset_tab_offset_items_section = site.data.coll_ext.config.display_list-items.config.offset_tab_offset_items_section | plus: 0 %}




{% if info_section_subsection != delim %}
  {% assign info_section_subsection_part = info_section_subsection | remove_first: delim | split: delim  %}
  {% assign info_section_subsection_size = info_section_subsection_part.size %}
{% endif%}
{% if section_display_subsection != delim %}
  {% assign section_display_subsection_part = section_display_subsection | remove_first: delim | split: delim %}
  {% assign section_display_subsection_size = section_display_subsection_part.size %}
{% endif%}
{% if info_items_subsection != delim %}
  {% assign info_items_subsection_part = info_items_subsection | remove_first: delim | split: delim %}
  {% assign info_items_subsection_size = info_items_subsection_part.size %}
{% endif%}
{% if items_display_subsection != delim %}
  {% assign items_display_subsection_part = items_display_subsection | remove_first: delim | split: delim %}
  {% assign items_display_subsection_size = items_display_subsection_part.size %}
{% endif%}



{% if dist_to_force == 0 %}
  {% comment %}<!-- report directly items_display_subsection in items_display_current_section, and resort items -->{% endcomment %}
  {% assign items_display_current_section_force = items_display_current_section %}

  {% assign items_display_subsection_tmp = items_display_subsection | remove_first: delim %}
  {% assign items_display_current_section_force = items_display_current_section_force | append: items_display_subsection_tmp  %}

  {% assign array_detail_items = items_display_current_section_force | remove_first: delim | split: delim  %}
  {% assign nb_details_items = array_detail_items.size %}

  {% assign array_sort_ouput = null  %}
  {% include coll_ext/utils/array/sort_sub_array_from_list_sort_ref.html
    list_sort_ref=array_index_item
    array_to_sort=array_detail_items
    nb_elt_to_sort=nb_details_items
    delim=delim
  %}

  {% assign items_display_current_section_force = delim %}
  {% assign iter_max_item_sort = nb_details_items | minus: 1  %}
  {% for iter_item_sort in (0..iter_max_item_sort)  %}
    {% assign index_item_sort = array_sort_ouput[iter_item_sort] %}
    {% assign items_display_current_section_force = items_display_current_section_force | append: index_item_sort | append: delim %}
  {% endfor %}

  {% assign info_section_subsection_force = delim %}

  {% comment %}<!-- output -->{% endcomment %}
  {% assign items_display_current_section = items_display_current_section_force  %}
  {% assign info_section_subsection = delim %}

{% endif %} {% comment %}<!-- end test dist_to_force == 0 -->{% endcomment %}


{% if dist_to_force > 0 %}

  {% assign info_section_subsection_force = delim %}
  {% assign info_items_subsection_force = delim %}
  {% assign section_display_subsection_force = delim %}
  {% assign items_display_subsection_force = delim %}

  {% assign iter_display_subsections_gl = 0 %}
  {% assign iter_display_items_gl = 0 %}


  {% assign offset_period_sub = period_info_subsection | minus : 1 %}
  {% assign offset_period_items_sub = period_info_items_section | minus : 1 %}

  {% assign nb_max_subsection = info_section_subsection_size | divided_by: period_info_subsection %}
  {% assign nb_max_items_subsection = info_items_subsection_size | divided_by: period_info_subsection %}


  {% assign index_sub_ref = 0  %}
  {% assign index_items_sub_ref = 0  %}

  {% for iter_subsections in (1..nb_max_subsection)  %}


    {% comment %}<!-- info current subsection -->{% endcomment %}
    {% assign index_tmp = index_sub_ref | plus: offset_index_subsection %}
    {% assign index_subsection = info_section_subsection_part[index_tmp] | plus: 0 %}
    {% assign index_tmp = index_sub_ref | plus: offset_dist_subsection %}
    {% assign dist_subsection = info_section_subsection_part[index_tmp] | plus: 0 %}
    {% assign index_tmp = index_sub_ref | plus: offset_nbitems_subsection %}
    {% assign nbitems_subsection = info_section_subsection_part[index_tmp] | plus: 0 %}
    {% assign index_tmp = index_sub_ref | plus: offset_tab_offset_subsection %}
    {% assign tab_offset_subsection = info_section_subsection_part[index_tmp] | plus: 0 %}

    {% comment %}<!-- info current items on subsection -->{% endcomment %}
    {% assign index_tmp = index_items_sub_ref | plus: offset_index_items_section %}
    {% assign index_items_sub = info_items_subsection_part[index_tmp] | plus: 0 %}
    {% assign index_tmp = index_items_sub_ref | plus: offset_dist_items_section %}
    {% assign dist_items_sub = info_items_subsection_part[index_tmp] | plus: 0 %}
    {% assign index_tmp = index_items_sub_ref | plus: offset_nbitems_items_section %}
    {% assign nbitems_items_sub = info_items_subsection_part[index_tmp] | plus: 0 %}
    {% assign index_tmp = index_items_sub_ref | plus: offset_tab_offset_items_section %}
    {% assign tab_offset_items_sub = info_items_subsection_part[index_tmp] | plus: 0 %}


    {% comment %}<!-- case dist subsection < dist_to_force, report info, display -->{% endcomment %}
    {% if dist_subsection < dist_to_force %}
      {% include coll_ext/extract-sort-items/force_items/extract_details_items_generic.html %}
    {% endif %}


    {% comment %}<!-- case dist subsection == dist_to_force, report info, display from child -->{% endcomment %}
    {% if dist_subsection == dist_to_force %}


      {% if nbitems_subsection > 0 %}

        {% comment %}
          <!-- presence of child subsections, loop to extract detail items at each sub dist -->
        {% endcomment %}
        {% assign list_items_sub = delim %}
        {% assign list_index_sub = delim %}
        {% assign borne_beg_loop = tab_offset_subsection %}
        {% assign borne_end_loop = borne_beg_loop | plus: nbitems_subsection | minus: 1 %}
        {% include coll_ext/extract-sort-items/force_items/loop_dist_subsections.html
          nb_loop_iter=0
          index_ref=index_subsection
          borne_beg=borne_beg_loop
          borne_end=borne_end_loop
        %}

        {% comment %}<!-- extract info list_items_sub -->{% endcomment %}
        {% comment %}
          <!-- output : nbitems_items_sub_force, array_items_sub_sort   -->
        {% endcomment %}
        {% assign array_items_sub = list_items_sub | remove_first: delim | split: delim  %}
        {% assign nbitems_items_sub_force = array_items_sub.size %}

        {% assign array_sort_ouput = null  %}
        {% include coll_ext/utils/array/sort_sub_array_from_list_sort_ref.html
          list_sort_ref=array_index_item
          array_to_sort=array_items_sub
          nb_elt_to_sort=nbitems_items_sub_force
          delim=delim
        %}
        {% assign array_items_sub_sort = array_sort_ouput %}

        {% comment %}
          <!-- report info sub, update info_section_subsection_force part  -->
        {% endcomment %}
        {% assign val_tmp = index_subsection | append: delim %}
        {% assign info_section_subsection_force = info_section_subsection_force | append: val_tmp %}

        {% assign val_tmp = dist_subsection | append: delim %}
        {% assign info_section_subsection_force = info_section_subsection_force | append: val_tmp %}

        {% assign nbitems_subsection_force = 0  %}
        {% assign val_tmp = nbitems_subsection_force | append: delim %}
        {% assign info_section_subsection_force = info_section_subsection_force | append: val_tmp %}
        {% comment %}<!-- ! rewrite taboffset -->{% endcomment %}
        {% assign val_tmp = iter_display_subsections_gl | append: delim %}
        {% assign info_section_subsection_force = info_section_subsection_force | append: val_tmp %}

        {% comment %}
          <!-- report info items sub, update info_items_subsection_force part  -->
        {% endcomment %}
        {% assign val_tmp = index_items_sub | append: delim %}
        {% assign info_items_subsection_force = info_items_subsection_force | append: val_tmp %}

        {% assign val_tmp = dist_items_sub | append: delim %}
        {% assign info_items_subsection_force = info_items_subsection_force | append: val_tmp %}

        {% assign val_tmp = nbitems_items_sub_force | append: delim %}
        {% assign info_items_subsection_force = info_items_subsection_force | append: val_tmp %}
        {% comment %}<!-- ! rewrite taboffset -->{% endcomment %}
        {% assign val_tmp = iter_display_items_gl | append: delim %}
        {% assign info_items_subsection_force = info_items_subsection_force | append: val_tmp %}

        {% assign iter_display_items_gl = iter_display_items_gl | plus: nbitems_items_sub_force %}

        {% comment %}
          <!-- report display sub, section_display_subsection_force part  -->
        {% endcomment %}
        {% assign iter_display_deb = 0 | plus: 0 %}
        {% assign iter_display_fin = nbitems_items_sub_force | minus: 1  %}
        {% for iter_display in (iter_display_deb..iter_display_fin) %}
          {% assign index_display_sub = array_items_sub_sort[iter_display] %}
          {% assign val_tmp = index_display_sub | append: delim %}
          {% assign items_display_subsection_force = items_display_subsection_force | append: val_tmp %}
        {% endfor %}

      {% else %}
        {% comment %}
          <!-- no child subsections, report info, display -->
        {% endcomment %}
        {% include coll_ext/extract-sort-items/force_items/extract_details_items_generic.html %}

      {% endif %} {% comment %}<!-- end test nbitems_subsection > 0, or not -->{% endcomment %}


    {% endif %} {% comment %}<!-- end test dist_subsection == dist_to_force -->{% endcomment %}

    {% assign index_sub_ref = index_sub_ref | plus: period_info_subsection %}
    {% assign index_items_sub_ref = index_items_sub_ref | plus: period_info_items_section %}


  {% endfor %}


  {% comment %}<!-- output -->{% endcomment %}
  {% assign info_section_subsection = info_section_subsection_force  %}
  {% assign section_display_subsection = section_display_subsection_force  %}
  {% assign info_items_subsection = info_items_subsection_force  %}
  {% assign items_display_subsection = items_display_subsection_force  %}

{% comment %}
  <div><p>info_section_subsection_force : {{info_section_subsection_force}}</p></div>
  <div><p>section_display_subsection_force : {{section_display_subsection_force}}</p></div>
  <div><p>info_items_subsection_force : {{info_items_subsection_force}}</p></div>
  <div><p>items_display_subsection_force : {{items_display_subsection_force}}</p></div>
  <div><p>--------------ref ------------</p></div>
  <div>
    <p>info_section_subsection : {{info_section_subsection}}</p>
    <p>section_display_subsection: {{section_display_subsection}}</p>
    <p>info_items_subsection : {{info_items_subsection}}</p>
    <p>items_display_subsection: {{items_display_subsection}}</p>
    <p>items_display_current_section : {{items_display_current_section}}</p>
  </div>
{% endcomment %}

{% endif %} {% comment %}<!-- end test dist_to_force > 0 -->{% endcomment %}
