<ul class="navigation-footer">
  <li>
    <div class="Footer-credit">Contenu&nbsp;©2017 lacasebiocoutras</div>
  </li>
  <li>
    <ul class="navigation-footer-mention">
      <li><a href="{{ "/mentions-legales/" | prepend: site.baseurl }}" target="_blanck">Mentions&nbsp;légales</a></li>
      {% comment %}<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Flux-Rss</a></li>{% endcomment %}
      <li><a href="{{ "/plan-du-site/index.html" | prepend: site.baseurl }}">Plan&nbsp;du&nbsp;site</a></li>
    </ul>
  </li>
</ul>





