<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">

  <title>
    {% if page.url == '/' %}
      {% assign title_page = 'Acceuil, ' %}
    {% else %}
      {% assign title_page = page.title | escape | append: ', ' %}
    {% endif %}
    {% assign title_page = title_page | append: site.title  %}
    {{title_page}}
  </title>
  
  {%comment%}<!-- for google -->{%endcomment%}
  {% include meta_seo.html %}

  {%comment%}<!-- for Facebook -->{%endcomment%}
  {%comment%}<!--
  <meta property="og:title" content="A Pocket Guide to Master Every Day’s Typographic Adventures" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.typogui.de/images/oh.png" />
  <meta property="og:url" content="http://www.typogui.de" />
  <meta property="og:description" content="This little guide is for writers, designer, engineers, students or anyone who just wants to do things right. Mastering the daily typography adventures will help you get your message across more successfully." />
 -->{%endcomment%}

   {%comment%}<!-- font, blocage pour pagespeed , report directly in critical.css.scss-->{%endcomment%}
  {%comment%}<!--  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Serif:400,700,400italic&subset=latin' rel='stylesheet' type='text/css'>
 -->{%endcomment%}
    {%comment%}<!-- font-awesome.min.css, blocage pour pagespeed , need report directly in critical.css.scss-->{%endcomment%}

  {% comment %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" async defer>{% endcomment %}



  {%comment%}<!-- crticical css loading  -->{%endcomment%}
  {% if page.url == '/'%}  

    <style>
      {% asset_source critical-home-page.css.scss %}
    </style>
    <script>
      {% asset_source plugins/loadCSS.min.js %}
      loadCSS("{% asset_path non-critical.css %}");      
      loadCSS("{% asset_path css/font-awesome.css %}");
      loadCSS("{% asset_path pict_slider.css %}");
      loadCSS("{% asset_path coll_ext_slider.css %}");
    </script>
    <noscript>
      <link href="{% asset_path non-critical.css %}" rel="stylesheet">
      <link href="{% asset_path css/font-awesome.css %}" rel="stylesheet">
      <link href="{% asset_path pict_slider.css %}" rel="stylesheet">
      <link href="{% asset_path coll_ext_slider.css %}" rel="stylesheet">
    </noscript>

  {% elsif  page.url contains '/newsletter/index.html' %}
  
    <style>
      {% asset_source critical.css.scss %}
    </style>
    <script>
      {% asset_source plugins/loadCSS.min.js %}
      loadCSS("{% asset_path non-critical.css %}");
      loadCSS("{% asset_path css/font-awesome.css %}");
      loadCSS("{% asset_path bootstrap.min.css %}");
      loadCSS("{% asset_path newsletter-bootstrap.css %}"); 
    </script>
    <noscript>
      <link href="{% asset_path non-critical.css %}" rel="stylesheet">
      <link href="{% asset_path css/font-awesome.css %}" rel="stylesheet">
      <link href="{% asset_path bootstrap.min.css %}" rel="stylesheet">
      <link href="{% asset_path newsletter-bootstrap.css %}" rel="stylesheet"> 
    </noscript>

  {% else %}
  
    <style>
      {% asset_source critical.css.scss %}
    </style>
    <script>
      {% asset_source plugins/loadCSS.min.js %}
      loadCSS("{% asset_path non-critical.css %}");
      loadCSS("{% asset_path css/font-awesome.css %}");
    </script>
    <noscript>
      <link href="{% asset_path non-critical.css %}" rel="stylesheet">
      <link href="{% asset_path css/font-awesome.css %}" rel="stylesheet">
    </noscript>

  {% endif %}



  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% comment %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% endcomment %}

  

