
<ul class="Grid Grid--flexCells ">    
  <li class="Grid-cell">
    {% comment %}{% picture logo-home logoheader-lcb-extra2h230.jpg alt=" Logo La Case Bio, mangez bio!" %}{% endcomment %}  
    {% comment %}
      specific, srcset forced after a generation !
    {% endcomment %}
    {% assign home_title = site.title | prepend: "Acceuil&nbsp;" %}
    {% if page.url != '/' %}
      <a href="{{site.baseurl}}/" title="{{home_title}}">
    {% endif %}    
      <picture>
        <source srcset="{{site.baseurl}}/images/logoheader-lcb-extra2h230-2300by230-b50e04.jpg" media="(min-width: 1680px)">
        <source srcset="{{site.baseurl}}/images/logoheader-lcb-extra2h230-1680by230-b50e04.jpg" media="(min-width: 920px)">
        <source srcset="{{site.baseurl}}/images/logoheader-lcb-extra2h230-920by230-b50e04.jpg">
        <img src="{{site.baseurl}}/images/logoheader-lcb-extra2h230-920by230-b50e04.jpg" class="logo-home-image" itemprop="image" alt=" Logo La Case Bio, mangez bio!">
      </picture>
    {% if page.url != '/' %}
      </a>
    {% endif %}
  </li>     
</ul>
  
{% include coll_ext_utils/display_navigation_header.html %}
<span class="menu-item nav-not-active js-toggle-main-menu"><i class="fa fa-bars"></i> <span class="text">Menu</span></span>


