{%comment%}
<!--
  param in :
    include
      before
      design_model
      name_id
      add_class_invisible
      page_ref_url
      display_header
      add_url_to_header
      header
      header_background_color
      extra_force_header_with_button
      extra_button_class_button
      extra_button_class_heading

  param out : display html


-->
{%endcomment%}



{% if include.before == true %}

  {% comment %}
    <!-- assign custom list_flex model -->
  {% endcomment %}
  {% assign config_flex_model = null %}
  {% assign styling_model = null %}
  {% include UI/list_flex/utils/select-model.html
    model=include.design_model
  %}

  {% assign one_space = site.data.coll_ext.config.common.space_string %}
  {% assign empty_string = site.data.coll_ext.config.common.empty_string %}


  {% comment %}<!-- article li-grid -->{% endcomment %}
  {% assign article_li_grid = empty_string  %}

  {% include UI/utils/update_class-model.html
    current_class=article_li_grid
    add_to_class=styling_model.article
    empty_string=empty_string
    one_space=one_space
  %}
  {% assign article_li_grid = updating_class  %}


  {% include UI/utils/update_class-model.html
    current_class=article_li_grid
    add_to_class=site.data.coll_ext.design.UI.list_flex.config.default_grid_cell
    empty_string=empty_string
    one_space=one_space
  %}
  {% assign article_li_grid = updating_class  %}



  {% include UI/utils/update_class-model.html
    current_class=article_li_grid
    add_to_class=config_flex_model.responsive
    empty_string=empty_string
    one_space=one_space
  %}
  {% assign article_li_grid = updating_class  %}



  {% comment %}force id section{% endcomment %}
  {% assign name_id_tmp = include.name_id %}
  {% if name_id_tmp == null or name_id_tmp == '' %}
    {% include coll_ext/utils/extract_from_url/name_id.html
      url=include.page_ref_url
    %}
    {% assign name_id_tmp = name_id %}
  {% endif %}   

  {% assign add_attr = '' %}
  {% include UI/utils/add-attributes.html
    name_attribute='id'
    value_attribute=name_id_tmp
  %}

  {% if include.add_class_invisible == true %}
    {% assign class_invisible = site.data.coll_ext.config.display_list-items.config.class_invisible %}
    {% include UI/utils/update_class-model.html
      current_class=article_li_grid
      add_to_class=class_invisible
      empty_string=empty_string
      one_space=one_space
    %}
    {% assign article_li_grid = updating_class  %}
  {% endif %}


  {% assign style_custom = '' %}
  {% assign style_custom_button = '' %}
  {% if include.header_background_color and include.header_background_color != '' %}
    {% assign style_custom = style_custom | append: 'background-color: ' | append: include.header_background_color | append: ';'  %}
    
    {% comment %}add background-image gradient{% endcomment %}
    {% assign lighten_color_hex = ''%}
    {% include coll_ext_utils/color/lighten.html
      color_hex=include.header_background_color 
      pourcent=50
    %}  
    {% assign style_custom_button = 'border-color:' | append: include.header_background_color | append: ';' %}
    {% comment %}{% assign style_custom = style_custom | append: style_custom_button %}{% endcomment %}
    {% assign style_custom = style_custom | append: 'background-image: linear-gradient(to bottom,' | append: include.header_background_color | append: ',' | append: lighten_color_hex | append: ');'  %}
  {% endif %}

  

  <li {{add_attr}}  class="{{article_li_grid}}" style="{{style_custom}}" >

  {% if include.extra_force_header_with_button == true %}

    <button class="{{include.extra_button_class_button}}" style="{{style_custom_button}}" >
      <h3 class="{{include.extra_button_class_heading}}">{{include.header}}</h3>
    </button>
  {% else %}

    {% if include.display_header == true %}

      {% if include.add_url_to_header == true %}
        <a  href="{{site.baseurl}}{{include.page_ref_url}}">
      {% endif %}

        <h2 class="heading">{{include.header}}</h2>

      {% if include.add_url_to_header == true %}
        </a>
      {% endif %}

    {% endif %}
  {% endif %}


{% else %}


  </li>



{% endif %}
