{%comment%}<!--
  param in:
    include
      current_type_ui
      part_before
      design_model
      extra_config
      name_id
      page_ref_url
      hide_page_current
      flag_display_header
      header
      header_background_color


  var globale
    site.data.coll_ext.design.config

  param out :


 -->
 {%endcomment%}

{% assign type_list_flex = site.data.coll_ext.design.config.param.type_list_flex %}
{% assign type_slider = site.data.coll_ext.design.config.param.type_slider %}


 {% if include.part_before == true %}

  {% assign add_url_to_header = false %}
  {% if include.hide_page_current == false  %}
    {% assign add_url_to_header = true %}
  {% endif %}


  {% if include.current_type_ui == type_list_flex %}

    {% comment %}<!-- extra config -->{% endcomment %}
    {% assign extra_add_class_invisible = false %}
    {% if include.extra_config.add_class_invisible == true %}
      {% assign extra_add_class_invisible = true %}
    {% endif %}

    {% assign extra_force_header_with_button = false %}
    {% if include.extra_config.force_header_with_button == true %}
      {% assign extra_force_header_with_button = true %}
      {% assign extra_button_class_button = include.extra_config.force_header_with_button_class_button %}
      {% assign extra_button_class_heading = include.extra_config.force_header_with_button_class_heading %}
    {% endif %}
    {% comment %}<!-- end extra config -->{% endcomment %}

    {% include UI/list_flex/article/display.html
      before=true
      design_model=include.design_model
      name_id=include.name_id
      add_class_invisible=extra_add_class_invisible
      page_ref_url=include.page_ref_url
      display_header=include.flag_display_header
      add_url_to_header=add_url_to_header
      header=include.header
      header_background_color=include.header_background_color
      extra_force_header_with_button=extra_force_header_with_button
      extra_button_class_button=extra_button_class_button
      extra_button_class_heading=extra_button_class_heading
    %}
  {% endif %}


  {% if include.current_type_ui == type_slider %}

    {% if forloop.first %}
      {% assign current_style = config_slide_tr_coll_ext.style_item_first %}
    {% else %}
      {% assign current_style = config_slide_tr_coll_ext.style_item_next %}
    {% endif %}

    {% include UI/slider/article/display.html
      before=true
      current_style=current_style
      page_ref_url=include.page_ref_url
      display_header=include.flag_display_header
      add_url_to_header=add_url_to_header
      header=include.header
    %}
  {% endif %}



{% else %}



  {% if include.current_type_ui == type_list_flex %}

    {% include UI/list_flex/article/display.html
      before=false
      design_model=null
      name_id=null
      add_class_invisible=null
      page_ref_url=null
      display_header=null
      add_url_to_header=null
      header=null
    %}
  {% endif %}



  {% if include.current_type_ui == type_slider %}

    {% include UI/slider/article/display.html
      before=false
      current_style=null
      page_ref_url=null
      display_header=null
      add_url_to_header=null
      header=null
    %}

  {% endif %}





{% endif %}


