{%comment%}<!--
  param in:
    include
      part_before
      current_type_ui
      type_items
      currentdist
      nb_items
      page_ref_url
      hide_page_current
      design_model
      extra_config
      flag_display_header
      header
      list_items_sub


  var globale
    site.data.coll_ext.design.config

  param out :


 -->
 {%endcomment%}

{% assign type_list_flex = site.data.coll_ext.design.config.param.type_list_flex %}
{% assign type_slider = site.data.coll_ext.design.config.param.type_slider %}


 {% if include.part_before == true %}



  {% assign add_url_to_header = false %}
  {% if include.hide_page_current == false  %}
    {% assign add_url_to_header = true %}
  {% endif %}



  {% if include.current_type_ui == type_list_flex %}

    {% include UI/list_flex/container/display.html
      before=true
      design_model=include.design_model
      page_ref_url=include.page_ref_url
      display_header=include.flag_display_header
      add_url_to_header=add_url_to_header
      header=include.header
    %}
  {% endif %}




  {% if include.current_type_ui == type_slider %}
    
    {% include UI/slider/utils/init_coll_ext_slider_translate.html
      page_ref_url=include.page_ref_url
      current_dist=include.currentdist
      type_items=include.type_items
    %}


     {% include UI/slider/container/display.html
      before=true
      container_slider_display=container_slider_display_coll_ext
      container_slider_ref=site.data.scss_liquid.UI.slider.config.container.coll_ext
      type_slider=type_slider_translate_display_coll_ext
      id_slider=id_slider_coll_ext
      nb_items=include.nb_items
      share-container-betw-car=config_slide_tr_coll_ext.share-container-betw-car
      style_prev_next=config_slide_tr_coll_ext.style_prev_next
      delim_id=site.data.scss_liquid.optim.config.param.delim_id
      page_ref_url=include.page_ref_url
      display_header=include.flag_display_header
      add_url_to_header=add_url_to_header
      header=include.header
      list_items_sub=include.list_items_sub
    %}


  {% endif %}





{% else %}



  {% if include.current_type_ui == type_list_flex %}

    {% include UI/list_flex/container/display.html
      before=false
      design_model=null
      page_ref_url=null
      display_header=null
      add_url_to_header=null
      header=null
    %}
  {% endif %}



  {% if include.current_type_ui == type_slider %}


    {% include UI/slider/utils/init_coll_ext_slider_translate.html
      page_ref_url=include.page_ref_url
      current_dist=include.currentdist
      type_items=include.type_items
    %}

    {% include UI/slider/container/display.html
      before=false
      container_slider_display=container_slider_display_coll_ext
      container_slider_ref=site.data.scss_liquid.UI.slider.config.container.coll_ext
      type_slider=type_slider_translate_display_coll_ext
      id_slider=id_slider_coll_ext
      nb_items=include.nb_items
      share-container-betw-car=config_slide_tr_coll_ext.share-container-betw-car
      style_prev_next=config_slide_tr_coll_ext.style_prev_next
      delim_id=site.data.scss_liquid.optim.config.param.delim_id
      page_ref_url=null
      display_header=null
      add_url_to_header=null
      header=null
      list_items_sub=null
    %}
  {% endif %}





{% endif %}


