{%comment%}<!--
  param in:
    include
      model


  var globale
    site.data.coll_ext.design.config.default_model_selected
    site.design.UI.list_flex.models

  param out :
    config_flex_model
    styling_model



 -->
 {%endcomment%}


{% comment %}
  <!-- filter with current model -->
{% endcomment %}
{% assign model_selected = site.data.coll_ext.design.UI.list_flex.config.default_model_selected %}

{% if include.model != null %}
  {% for model_tmp in site.data.coll_ext.design.UI.list_flex.models %}
    {% if model_tmp.model == include.model %}
      {% assign model_selected = model_tmp.model %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% for model_tmp in site.data.coll_ext.design.UI.list_flex.models %}
  {% if model_tmp.model == model_selected %}
    {% assign config_flex_model = model_tmp.config_flex %}
    {% assign styling_model = model_tmp.styling %}
    {% break %}
  {% endif %}
{% endfor %}
