{%comment%}
<!--
  param in :
    include
      model_parent
      current_dist
      item_design
      index_item
      delim
      force_url_with_id_to_container

  var global :
    collection_name_ref_gl (def in coll_ext/main.html)
    config/common-param
    extension_section
    raw_items
    array_index_item
    array_dist_children_item
    array_is_section_item
-->
<!--
  use in :
   /_includes/collection_ext/section-display_list-items/display-items-current-section-to-an-item.html
   /_includes/coll_ext_utils/list-detail-items.html
-->

{%endcomment%}


{% assign empty_string = site.data.coll_ext.config.common.empty_string %}
{% assign space_string = site.data.coll_ext.config.common.space_string %}


{% comment %}<!-- extract item of raw_items, global -->{% endcomment %}
{% assign index_raw = include.index_item | plus: 0 %}
{% assign item_raw = raw_items[index_raw] %}

{% comment %}<!-- extract info from url -->{% endcomment %}
{% include coll_ext/utils/extract_from_url/last-part-url-current-item.html
  current_item_url=item_raw.url
  extension_section=extension_section
  extension_item=extension_item
%}
{% assign item_raw_is_section = current_item_is_section %}
{% assign item_raw_last_part_url = last_part_url_curren_item %}
{% assign item_raw_url_size = current_item_url_size  %}


{% comment %}
<div style="color: red;">
<p>item_raw.url : {{item_raw.url}}</p>
<p>item_raw_is_section : {{item_raw_is_section}}</p>
<p>item_raw_last_part_url : {{item_raw_last_part_url}}</p>
<p>item_raw_url_size : {{item_raw_url_size}}</p>
</div>
{% endcomment %}
{% comment %}
  <!-- assign detail items model with model_parent, default case  -->
{% endcomment %}
{% assign detail_design_ref = null %}
{% include coll_ext/config/select-design_detail_items.html
  model= include.model_parent.design_detail_items
  currentdist=include.currentdist
%}
{% assign detail_design_raw = detail_design_ref %}

{% comment %}<!-- force mode add url with id to the main detail container  -->{% endcomment %}
{% assign force_url_with_id_to_container_raw = include.model_parent.config_container_detail.force_url_with_id %}

{% comment %}
  <!-- prelim step : -->
{% endcomment %}
{% include coll_ext/section-display_detail-item/utils/extract-url-to-container-detail-design.html
  model_parent=include.model_parent
  current_dist=include.current_dist
  item_url=item_raw.url
  last_part_url_current_item=item_raw_last_part_url
  current_item_url_size=item_raw_url_size
  collection_name=collection_name_ref_gl
  list_index_ref=array_index_item
  extension_section=extension_section
  delim=delim
%}
{% assign url_add_to_container_raw = url_add_to_container %}
{% assign current_model_detail_design_raw = current_model_detail_design %}
{% assign current_dist_parent_raw = current_dist_parent %}


{% assign detail_design_ref = null %}
{% include coll_ext/config/select-design_detail_items.html
  model=current_model_detail_design_raw
  currentdist=current_dist_parent_raw
%}
{% assign detail_design_raw = detail_design_ref %}


{% comment %}
  <!-- assign custom container model -->
{% endcomment %}
{% assign config_display_container = null %}
{% assign styling_model_container = null %}
{% include UI/miniature/utils/select-container-model.html
  model=detail_design_raw
  item_is_section=item_raw_is_section
%}
{% comment %}<!-- info model container -->{% endcomment %}
{% assign add_url_section_in_container = config_display_container.add_url_section_in_container %}


{% comment %}
  <!-- assign current detail model : info type + custom, from design/list-model_detail_items 
  TODO : custom part -->
{% endcomment %}
{% assign current_detail_model = null  %}
{% include UI/miniature/utils/assign-detail-model.html
  model=detail_design_raw
  item_is_section=item_raw_is_section
%}


{% comment %}
<div><p style="color:blue">model_parent : {{include.model_parent.model}}</p></div>
<div><p style="color:blue">model_parent design_detail_items : {{include.model_parent.design_detail_items}}</p></div>
<div><p style="color:blue">model_parent current_dist : {{include.current_dist}}</p></div>
<div><p style="color:blue">current_model_detail_design_raw : {{current_model_detail_design_raw}}</p></div>
<div><p style="color:blue">current_dist_parent_raw : {{current_dist_parent_raw}}</p></div>
{% endcomment %}

{%comment%}
  <!-- prepare url container -->
{%endcomment%}
{% assign add_url_with_id_to_container = false %}
{% assign url_add_to_container = null %}

{% comment %}<div><p>include.item_design : {{include.item_design}}</p></div>{% endcomment %}
{% comment %}<div style="color: red;"><p>current_detail_model avant id : {{current_detail_model}}; {{item_raw.url}}</p></div>{% endcomment %}




{% if item_raw_is_section == true %}
  {% assign url_add_to_container = item_raw.url %}
{% endif %}


{% assign force_url_with_id_is = false %}
{% if include.force_url_with_id_to_container == true or force_url_with_id_to_container_raw == true %}
  {% assign force_url_with_id_is = true %}
{% endif %}

{% if item_raw_is_section == false and force_url_with_id_is == true %}

  {% assign add_url_with_id_to_container = true  %}
  {% assign url_add_to_container = url_add_to_container_raw %}

  {%comment%}
    <!-- prepare extend name id  -->
  {%endcomment%}
  {% assign name_id = null %}
  {% include coll_ext/utils/extract_from_url/name_id.html
    url=item_raw.url
  %}
  {% assign extend_name_id = site.data.coll_ext.config.common.empty_string %}
  {% if name_id != null %}
    {% assign extend_name_id = site.data.coll_ext.design.UI.modal.config.default_id_symbol %}
    {% if current_detail_model.type == site.data.coll_ext.design.config.param.type_modal %}
      {% assign prefixe_id_target = site.data.coll_ext.design.UI.modal.config.default_prefixe_id_target %}
      {% assign extend_name_id = extend_name_id | append: prefixe_id_target %}
    {% endif %}

    {% assign extend_name_id = extend_name_id | append: name_id %}
  {% endif %}

  {% assign url_add_to_container = url_add_to_container  | remove_first: item_raw_last_part_url  | append: extension_section | append: extend_name_id %}

{% endif %}

{% if current_detail_model.type == site.data.coll_ext.design.config.param.type_link_to_url %}
  {% assign url_add_to_container = item_raw.url %}
{% endif %}




{%comment%}
  <!-- prepare url in container -->
{%endcomment%}
{% if item_raw_is_section == false %}
  {% include coll_ext/utils/extract_from_url/prepare-url-to-display-item-extend.html
    item_url=item_raw.url
    add_url_section_in_container=add_url_section_in_container
    last_part_url_curren_item=item_raw_last_part_url
  %}
  {% assign url_section_item_display = url_section_item_display %}
  {% assign title_section_item_display = title_section_item_display %}
{% endif %}





{% comment %}add border-color if defined in meta style{% endcomment %}
{% assign style_custom = '' %}
{% if item_raw.border-color %}
  {% assign style_custom = style_custom | append: 'border-color:' | append: item_raw.border-color | append: ';'  %}
{% endif %}
{% if item_raw.background-color %}
  {% assign style_custom = style_custom | append: 'background-color:' | append: item_raw.background-color | append: ';'  %}
{% endif %}

 {% comment %}<!-- container styling -->{% endcomment %}
{% assign container_style = empty_string %}

{% include UI/utils/update_class-model.html
  current_class=container_style
  add_to_class=styling_model_container.container
  empty_string=empty_string
  one_space=space_string
%}
{% assign container_style = updating_class  %}  

{% include UI/utils/update_class-model.html
  current_class=container_style
  add_to_class=styling_model_container.container_color
  empty_string=empty_string
  one_space=space_string
%}
{% assign container_style = updating_class  %}

{% assign type_miniature = item_raw.type-miniature %}
{% assign type_miniature = type_miniature | replace: '["','' %}
{% assign type_miniature = type_miniature | replace: '"]','' %}

{% if url_add_to_container != null and add_url_with_id_to_container == true%}
  <a  href="{{site.baseurl}}{{url_add_to_container}}">
{% endif %}

{% comment %}<ul class="{{styling_model_container.container}} Grid " style="{{style_custom}}">{% endcomment %}
<ul class="{{container_style}} Grid" style="{{style_custom}}">


    
  {% if item_raw.date-evenement %}
    <li class="Grid-cell u-full">
      {% include coll_ext_utils/date/display-date-event-fr.html
        date=item_raw.date-evenement
        date_end=item_raw.date-fin-evenement
      %}
      <p class="event-date" itemprop="date">{{date_text_out}}</p>
    </li>
  {% endif %}

  {% comment %}<!-- Miniature part -->{% endcomment %}
  {% if type_miniature == 'red-left' %}  
    {% comment %}<li class=" Grid-cell Grid-cell--autoSize">{% endcomment %}
    <li class=" Grid-cell u-full u-ssmall-1of3">
      {% if item_raw.miniature %}
        {% comment %}{% picture miniature {{item_raw.miniature}} alt="image {{item_raw.title}}"  %}{% endcomment %}
        {% picture miniature {{item_raw.miniature}} alt="image {{item_raw.title}}"  %}
      {% endif %}
    </li>
  {% endif %}
  {% if type_miniature == 'full-with-title' or type_miniature == 'full-only' %}  
    <li class=" Grid-cell u-full">
      {% if item_raw.miniature %}
        {% picture miniature-full {{item_raw.miniature}} alt="image {{item_raw.title}}"  %}
      {% endif %}
    </li>
  {% endif %}
  {% comment %}<!-- end Miniature part -->{% endcomment %}


  {% comment %}<!-- Description part -->{% endcomment %}
  {% unless type_miniature == 'full-only' %}
  <li class="{{styling_model_container.article}} Grid-cell u-full u-ssmall-2of3">
    
    
    {% comment %}{% if item_raw.date-debut-promotion %}
       <p class="title" itemprop="date">debut promo : {{item_raw.date-debut-promotion}}</p>
    {% endif %}{% endcomment %}

    <h4 class="title" itemprop="headline">{{item_raw.title}}
      {% comment %}add date-publication after title{% endcomment %}
      {% if item_raw.date-evenement == null and item_raw.date-debut-promotion == null %} 
        {% assign new_date_convert = '' %}
        {% if site.lang == 'fr' %}
          {% assign config_date = site.data.coll_ext.config.date.config.region_fr %}    
          {% include coll_ext_utils/date/display-date-utc2fr.html 
            date=item_raw.date-publication 
            filter=config_date.display_item_date_publi           
          %} 
        {% else %}
          {% comment %} default english{% endcomment %}
          {% assign config_date = site.data.coll_ext.config.date.config.region_en %}
          {% include coll_ext_utils/date/display-date-utc2en.html 
            date=item_raw.date-publication 
            filter=config_date.display_item_date_publi           
          %}         
        {% endif %}        
        {% assign date_publi_trad = new_date_convert | strip | replace: ' ','&nbsp;' %}       
        <span> {{date_publi_trad}}</span>
        
      {% endif %}
    </h4>



    

    {%comment%}<!-- short content -->{%endcomment%}
    {% if add_url_with_id_to_container  == true or url_add_to_container != null %}
      
      {% if add_url_with_id_to_container == true %} 

        {% comment %}<p>cas0a - {{add_url_with_id_to_container}} - {{url_add_to_container}} </p>{% endcomment %}
        {% if  item_raw.description %}
          <p class="excerpt" itemprop="text">{{item_raw.description}}</p>   
        {% endif %}

        {% if url_add_to_container != null and add_url_with_id_to_container != true %}
          <a  href="{{site.baseurl}}{{url_add_to_container}}">
        {% endif %}
          <p class="excerpt" itemprop="text">
            {% if item_raw.lire-plus %}
              {{item_raw.lire-plus}}
            {% else %}
              Voir plus de détails
            {% endif %}
          </p>
        {% if url_add_to_container != null and add_url_with_id_to_container != true %}
          </a>
        {% endif %}
   
      {% else %}

        {% comment %}<p>cas0b - {{add_url_with_id_to_container}} - {{url_add_to_container}} </p>{% endcomment %}
        {% if  item_raw.description %}
          <p class="excerpt" itemprop="text">{{item_raw.description}}</p>   
        {% endif %} 
        {% assign text_splitted = item_raw.content %}
        {% include coll_ext_utils/text/split-text-until-first-match.html 
          text= item_raw.content
          match_ref='</h1>'
        %}
        {% assign excerpt_local = text_splitted | strip_html | truncatewords: 50 %}
        <p class="excerpt" itemprop="text">{{excerpt_local | markdownify}}</p> 
        
        {% if url_add_to_container != null and add_url_with_id_to_container != true %}
          <a href="{{site.baseurl}}{{url_add_to_container}}">
        {% endif %}
          <p class="excerpt" itemprop="text">
            Lire la suite
          </p>
        {% if url_add_to_container != null and add_url_with_id_to_container != true %}
          </a>
        {% endif %}
      {% endif %}

    {% else %}
     
      {% assign test_content_empty = item_raw.content | strip | strip_html %}

      {% if test_content_empty != '' %}

        {% if current_detail_model.type == site.data.coll_ext.design.config.param.type_miniature %}
          {% comment %}<p>cas1 - {{add_url_with_id_to_container}} - {{url_add_to_container}}</p> {% endcomment %}
          {% if page.url != '/' %}    
            {% comment %}adapt h1, h2, h3 from .md {% endcomment %}
            {% assign content_to_filter = item_raw.content | markdownify%}
            {% assign content_to_filter = content_to_filter | replace: '<h3', '<h4' | replace: '</h3', '</h4'  %}
            {% assign content_to_filter = content_to_filter | replace: '<h2', '<h3' | replace: '</h2', '</h3'  %}
            {% assign content_to_filter = content_to_filter | replace: '<h1', '<h2' | replace: '</h1', '</h2'  %}

            {{ content_to_filter}}
          {% else %}
            {{test_content_empty | markdownify}}
          {% endif %}        
        {% endif %}
      {% else %}

        {% comment %}<p>cas2 - {{add_url_with_id_to_container}} - {{url_add_to_container}}</p>{% endcomment %}
        {% if  item_raw.description %}
          <p class="excerpt" itemprop="text">{{item_raw.description}}</p>       
        {% endif %}
        {% comment %}{% if item_raw.lire-plus %}          
          <p class="excerpt" itemprop="text">{{item_raw.lire-plus}}</p>
        {% endif %}{% endcomment %}
      {% endif %}

    {% endif %}
    {%comment%}<!-- end short content -->{%endcomment%}
  

    {% if add_url_section_in_container == true %}
      {% assign add_text_section_in_container = empty_string  %}
      {% if config_display_container.add_text_section_in_container != null %}
        {% assign add_text_section_in_container = config_display_container.add_text_section_in_container %}
        {% assign add_text_section_in_container = add_text_section_in_container | append: space_string %}
      {% endif %}

      <a  href="{{site.baseurl}}{{url_section_item_display}}"><h5>{{add_text_section_in_container}}{{title_section_item_display}}</h5></a>
    {% endif %}

    {% if add_url_with_id_to_container  != true %}

      {%comment%}<!-- detail content, todo, show in specific windows, on hover -->{%endcomment%}
      {% comment %}{% if current_detail_model.type == site.data.coll_ext.design.config.param.type_miniature %}
        <p class="excerpt" itemprop="text">{{ item_raw.content}}</p> 
      {% endif %}{% endcomment %}


      {% if current_detail_model.type == site.data.coll_ext.design.config.param.type_modal %}

        {% comment %}
          <!-- assign custom container model -->
        {% endcomment %}
        {% assign config_modal = null %}
        {% assign config_action = null %}
        {% assign styling_model = null %}
        {% include UI/modal/utils/select-model.html
          model=current_detail_model.custom
        %}

        {% assign name_id_target = null  %}
        {% include coll_ext/section-display_detail-item/modal/action_modal_current_page.html
          name_id_to_target=name_id
          index_to_target=index_raw
          delim=include.delim
        %}

        {% assign text_display_modal = config_action.add_text_action_modal %}

        {% include UI/modal/action/display.html
          id_target_modal=name_id_target
          text=text_display_modal
        %}
      {% endif %}

    {% endif %}


  </li>
  {% endunless %}
  {% comment %}<!-- end Description part -->{% endcomment %}


  {% comment %}<!-- Miniature part -->{% endcomment %}
  {% if type_miniature == 'red-right' %}  
    {% comment %}<li class=" Grid-cell Grid-cell--autoSize">{% endcomment %}
    <li class=" Grid-cell u-full u-ssmall-1of3">
    {% comment %}<li class=" Grid-cell u-full">{% endcomment %}
      {% if item_raw.miniature %}
        {% comment %}{% picture miniature {{item_raw.miniature}} alt="image {{item_raw.title}}"  %}{% endcomment %}
        {% picture miniature {{item_raw.miniature}} alt="image {{item_raw.title}}"  %}
      {% endif %}
    </li>
  {% endif %}
  {% comment %}<!-- end Miniature part -->{% endcomment %}
</ul>

{% if url_add_to_container != null and add_url_with_id_to_container == true %}
  </a>
{% endif %}

