{% assign extension_item = site.collections_ext.path_extension_item %}
{% assign extension_section = site.collections_ext.path_extension_section %}

{% assign delim = site.data.coll_ext.config.common.delimitator.array %}
{% assign delim_url = site.data.coll_ext.config.common.delimitator.url %}

{% assign empty_string = site.data.coll_ext.config.common.empty_string %}
{% assign space_string = site.data.coll_ext.config.common.space_string %}
{% assign undersc_string = site.data.coll_ext.config.common.underscore_string %}

