.min_container {

  .event-date {
    margin: 0 ;//!important; // override
    padding: 0;
    padding-bottom: $spacing-v/3;
    // font-family: $sans-serif-narrow;
    // font-size: 1.25rem;
    font-size: 1.25em;
    line-height: 1.1em;
    // display: inline;
    font-weight: bold;
    color: $primary-color-light;
  }

  .min_body {
    padding-left: 1em; 
    .title {
      margin: 0 !important; // override
      padding: 0;
      // font-family: $sans-serif-narrow;
      font-size: 1.3em;
      // font-weight: bold;

      span {
        font-size: 0.7em;
        font-weight: lighter;

      }
    }
    .excerpt {
      margin: 0.5em 0 0;
      padding: 0;
      font-size: 0.9em;

      a, a:hover {
        text-decoration: underline;
      }
    }

    a, a:hover {
      text-decoration: underline;
    }
  }
}