.on-sm-only {
  display: block;
  @include breakpoint($break-sm){
    display: none !important;
  }
}
.not-inf-sm {
  display: block;
  @include breakpoint($break-sm-max){
    display: none !important;
  }
}
.on-md-only {
  display: block;
  @include breakpoint($break-md){
    display: none !important;
  }
}
.not-inf-md {
  display: block;
  @include breakpoint($break-md-max){
    display: none !important;
  }
}

.on-xlg-only {
  display: block;
  @include breakpoint($break-xlg){
    display: none !important;
  }
}
.not-inf-xlg {
  display: block;
  @include breakpoint($break-xlg-max){
    display: none !important;
  }
}

.u-full {
  width: 100% !important;
  flex: none !important;
}
// .u-1of2 {
//   width: 50% !important;
//   flex: none !important;
// }

// .u-1of2-m {
//   // width: 50% !important;
//   width: -webkit-calc(#{50%} - (#{$margin-grid})) !important;
//   width:         calc(#{50%} - (#{$margin-grid})) !important;
//   flex: none !important;
// }

// .u-1of3 {
//   width: 33.3333% !important;
//   flex: none !important;
// }
.u-1of3-m {
  // width: 33.3333% !important;
  width: -webkit-calc(#{33.3333%} - (#{$margin-grid})) !important;
  width:         calc(#{33.3333%} - (#{$margin-grid})) !important;
  flex: none !important;
}
// .u-2of3 {
//   width: 66.6667% !important;
//   flex: none !important;
// }
.u-2of3-m {
  // width: 66.6667% !important;
  width: -webkit-calc(#{66.6667%} - (#{$margin-grid})) !important;
  width:         calc(#{66.6667%} - (#{$margin-grid})) !important;
  flex: none !important;
}
// .u-1of4 {
//   width: 25% !important;
//   flex: none !important;
// }

// .u-1of5 {
//   width: 20% !important;
//   flex: none !important;
// }
// .u-1of10 {
//   width: 10% !important;
//   flex: none !important;
// }

@include breakpoint($break-ssm) {
  // .u-ssmall-full {
  //   width: 100% !important;
  //   flex: none !important;
  // }
  // .u-ssmall-1of2 {
  //   width: 50% !important;
  //   flex: none !important;
  // }
  // .u-ssmall-1of2-m {
  //   width: -webkit-calc(#{50%} - (#{$margin-grid})) !important;
  //   width:         calc(#{50%} - (#{$margin-grid})) !important;
  //   flex: none !important;
  // }
  .u-ssmall-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-ssmall-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  // .u-ssmall-1of3-m {
  //   width: -webkit-calc(#{33.3333%} - (#{$margin-grid})) !important;
  //   width:         calc(#{33.3333%} - (#{$margin-grid})) !important;
  //   flex: none !important;
  // }
  // .u-ssmall-2of3-m {
  //   width: -webkit-calc(#{66.6667%} - (#{$margin-grid})) !important;
  //   width:         calc(#{66.6667%} - (#{$margin-grid})) !important;
  //   flex: none !important;
  // }
}


@include breakpoint($break-sm) {
  // .u-small-full {
  //   width: 100% !important;
  //   flex: none !important;
  // }
  // .u-small-1of2 {
  //   width: 50% !important;
  //   flex: none !important;
  // }
  .u-small-1of2-m {
    width: -webkit-calc(#{50%} - (#{$margin-grid})) !important;
    width:         calc(#{50%} - (#{$margin-grid})) !important;
    flex: none !important;
  }
  // .u-small-1of3 {
  //   width: 33.3333% !important;
  //   flex: none !important;
  // }
  // .u-small-1of3-m {
  //   width: -webkit-calc(#{33.3333%} - (#{$margin-grid})) !important;
  //   width:         calc(#{33.3333%} - (#{$margin-grid})) !important;
  //   flex: none !important;
  // }
  // .u-small-2of3 {
  //   width: 66.6667% !important;
  //   flex: none !important;
  // }
  // .u-small-2of3-m {
  //   width: -webkit-calc(#{66.6667%} - (#{$margin-grid})) !important;
  //   width:         calc(#{66.6667%} - (#{$margin-grid})) !important;
  //   flex: none !important;
  // }
  // .u-small-1of4 {
  //   width: 25% !important;
  //   flex: none !important;
  // }
  // .u-small-1of5 {
  //   width: 20% !important;
  //   flex: none !important;
  // }
  // .u-small-1of10 {
  //   width: 10% !important;
  //   flex: none !important;
  // }
}

@include breakpoint($break-md) {
  .u-med-full {
    width: 100% !important;
    flex: none !important;
  }
  // .u-med-1of2 {
  //   width: 50% !important;
  //   flex: none !important;
  // }
  .u-med-1of2-m {
    // width: 50% !important;
    width: -webkit-calc(#{50%} - (#{$margin-grid})) !important;
    width:         calc(#{50%} - (#{$margin-grid})) !important;
    flex: none !important;
  }
  // .u-med-1of3 {
  //   width: 33.3333% !important;
  //   flex: none !important;
  // }
  .u-med-1of3-m {
    width: -webkit-calc(#{33.3333%} - (#{$margin-grid})) !important;
    width:         calc(#{33.3333%} - (#{$margin-grid})) !important;
    flex: none !important;
  }
  // .u-med-2of3 {
  //   width: 66.6667% !important;
  //   flex: none !important;
  // }
  .u-med-2of3-m {
    width: -webkit-calc(#{66.6667%} - (#{$margin-grid})) !important;
    width:         calc(#{66.6667%} - (#{$margin-grid})) !important;
    flex: none !important;
  }
  // .u-med-1of4 {
  //   width: 25% !important;
  //   flex: none !important;
  // }
  // .u-med-1of5 {
  //   width: 20% !important;
  //   flex: none !important;
  // }
  // .u-med-1of10 {
  //   width: 10% !important;
  //   flex: none !important;
  // }
}

@include breakpoint($break-lg) {
  // .u-large-full {
  //   width: 100% !important;
  //   flex: none !important;
  // }
  // .u-large-1of2 {
  //   width: 50% !important;
  //   flex: none !important;
  // }
  // .u-large-1of2-m {
  //   width: -webkit-calc(#{50%} - (#{$margin-grid})) !important;
  //   width:         calc(#{50%} - (#{$margin-grid})) !important;
  //   flex: none !important;
  // }
  // .u-large-1of3 {
  //   width: 33.3333% !important;
  //   flex: none !important;
  // }
  .u-large-1of3-m {
    width: -webkit-calc(#{33.3333%} - (#{$margin-grid})) !important;
    width:         calc(#{33.3333%} - (#{$margin-grid})) !important;
    flex: none !important;
  }
  // .u-large-2of3-m {
  //   width: -webkit-calc(#{66.6667%} - (#{$margin-grid})) !important;
  //   width:         calc(#{66.6667%} - (#{$margin-grid})) !important;
  //   flex: none !important;
  // }
  // .u-large-2of3 {
  //   width: 66.6667% !important;
  //   flex: none !important;
  // }
  // .u-large-1of4 {
  //   width: 25% !important;
  //   flex: none !important;
  // }
  // .u-large-3of4 {
  //   width: 75% !important;
  //   flex: none !important;
  // }
  // .u-large-1of5 {
  //   width: 20% !important;
  //   flex: none !important;
  // }
  // .u-large-1of10 {
  //   width: 10% !important;
  //   flex: none !important;
  // }
}

@include breakpoint($break-xlg) {
 
  .u-xlarge-1of3-m {
    width: -webkit-calc(#{33.3333%} - (#{$margin-grid})) !important;
    width:         calc(#{33.3333%} - (#{$margin-grid})) !important;
    flex: none !important;
  }

  .u-xlarge-1of4-m {
    width: -webkit-calc(#{25%} - (#{$margin-grid})) !important;
    width:         calc(#{25%} - (#{$margin-grid})) !important;
    flex: none !important;
  }
  
}

