// class used in _layout/page.html
.default-page-content {

  // width: 100%;

	.logo-back {
    display: inline-block;
    background-image: url(asset_path("logo-lcb.png"));
    // background-repeat:repeat-x;
    background-size: 100% 100%;
    height: 50px;
    width: 50px
  }

  .path-navig {
  	list-style: none;
	  margin: 0; 
	  padding: $spacing-h/2;
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: flex-start;

	  // @include breakpoint($break-sm-max){
	  //   flex-flow: column wrap;
	  // }
	  
  	h1,h2 {
  		margin-bottom: 0;
  	}
    h1 {
      //fixe newsletter with bootstrap.min.css
      font-size: 1.3em;
      line-height: 1.2em;
    }
	}
  
  .force-bg-2color {
    background: $secondary-color !important;
  }

  .g-recaptcha {
    @include breakpoint($break-ssm-max) {        
      transform:scale(0.67);
      transform-origin:0 0;
    }
  }

  .post-content {
    @include breakpoint($break-md) {        
      max-width: 80%;
    }
    @include breakpoint($break-xlg) {        
      max-width: 66.66667%;
    }
  }
}





