{%comment%}
<!--
  param in :
    include
      container_display
      container_ref
      type_slider_display
      type_slider_ref
      list_sliders
      config_type
      delim_id
      class_slider_display

  var global :

-->
{%endcomment%}

{% assign config_slide = null %}
{% for config in include.config_type  %}
  {% if config.type == include.type_slider_ref %}
    {% assign config_slide = config %}
  {% endif %}
{% endfor %}

{% assign delim_id = include.delim_id %}
{% assign max_items_slider = 0 %}
//used to optimz generation slider_infinite_keyframe, one per nb_items, if equiv
{% assign list_nb_items_comp = delim_id %}


{% for slider in include.list_sliders  %}
  {% if slider.type == include.type_slider_ref %}


    {% assign nb_items =  slider.list_img.size | plus: 0 %}

    {% if slider.list_from_collection != null %}
      {% assign nb_items_list_collection = 0 %}
      {% include scss-liquid/picture/subfunction/nb_items_list_from_collection.html
        name_collection=slider.list_from_collection
        path_list=slider.list_from_path_collection
      %}
      {% assign nb_items =  nb_items_list_collection | plus: 0 %}  
    {% endif %}

    {% if nb_items >  max_items_slider %}
      {% assign max_items_slider = nb_items %}
    {% endif %}

    {% comment %}
      <!-- parameters animation -->
    {% endcomment %}

    {% assign keyframe_name = include.container_display | append: delim_id | append: include.class_slider_display | append: delim_id | append: include.type_slider_display | append: delim_id | append: nb_items | remplace: ' ',delim_id %}

    {% comment %}
      //    time_frame_percent = ( 100 - config_slide.time_transition_percent * (nb_items - 1)) / nb_items
      // if 5 img : 5 time_frame_percent and 4 time_transition_percent
    {% endcomment %}
    {% assign time_frame_percent = 100 %}
    {% if nb_items > 0 %}
      {% assign max_time_transition = config_slide.time_transition_percent | plus: 0 %}
      {% assign max_time_transition = max_time_transition | times: {{nb_items | minus: 1}} %}

      {% assign time_frame_percent = time_frame_percent | minus: max_time_transition | divided_by: nb_items %}
    {% endif %}
    {% assign time_frame_percent = time_frame_percent | append: '%' %}


    {% assign total_time_anim = config_slide.second_per_frame | plus: 0 | times: nb_items | append: 's' %}

    {% assign nb_items_comp = nb_items | prepend: delim_id | append: delim_id %}

    //form keyfame, not if keyfr with same nb_items always do
    {% unless list_nb_items_comp contains nb_items_comp %}

      @include slider_infinite_keyframe({{nb_items}}, {{time_frame_percent}}, {{keyframe_name}});

      {% assign list_nb_items_comp = list_nb_items_comp | append: nb_items | append: delim_id %}
    {% endunless %}

    {% if slider.slides_max_witdh != null %}
      {% assign max_witdh_items = slider.slides_max_witdh %}
    {% else %}
      {% assign max_witdh_items = config_slide.default_slides_max_witdh %}
    {% endif %}


    @include slider_infinite_extra_before({{include.container_display}}, {{include.type_slider_display}},{{slider.id}}, {{nb_items}}, {{max_witdh_items}}, {{keyframe_name}}, {{total_time_anim}});

  {% endif %}
{% endfor %}


{% if max_items_slider > 0 %}
  @include slider_infinite({{include.container_display}},{{include.type_slider_display}});
{% endif %}
