---
layout: compress
---
{% comment %} extract information navigation{% endcomment %}
{% comment %} output : arrays title_item_acceuil ; detect_url_page{% endcomment %}
{% include coll_ext_utils/extract_link_navigation_header.html %}

<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body >
    <div canvas="container">
      <div class="Site-body container-body">
        {% comment %}<div id="haut-page" class="u-hiddenVisually"></div>{% endcomment %}

        <div class="Site-header-home" role="banner">
            {% include header-home.html %}        
        </div>
      

        <main class="Site-main " id="main" role="main">
          <!-- <aside class="Site-left-aside u-textCenter ">     
          </aside> -->
          <!-- <div class="Site-content-right-aside"> -->
            <div class="Site-content">
                {{ content }}
            </div>
            <!-- <aside class="Site-right-aside"> -->         
            <!-- </aside> -->
          <!-- </div> --> <!-- fin Site-content-right-aside -->
        </main>

        <footer class="Site-footer">
          <div class="Footer">
            {% include footer.html %}
          </div>
        </footer>
        {% include scripts.html %}
      </div>

    </div><!-- end canvas="container" -->
    <a href="#0" title="Retour haut de-page" class="cd-top"></a>
    


    <div off-canvas="id-1 left push">  
      {% include coll_ext_utils/display_navigation_header.html %}
    </div>
  </body>
</html>
