---
layout: master
---
<div class="default-page-content">

  {% comment %}
  {% assign home_title = site.title | prepend: "Acceuil&nbsp;" %}
  {% include coll_ext_utils/path-navig-title.html title=home_title class_logo="logo-back"%}

  {% assign size = page.excerpt.size | plus: 0 %}
  {% if size > 1 %}
    <h4>{{page.excerpt}}- page.excerpt.size : {{page.excerpt.size}}</h4>
  {% else %}
    {% if  page.description %}
      <h4>{{ page.description }} </h4>
    {% endif %}
  {%  endif %}
  {% endcomment %}
  {% comment %}{% if  page.description %}
    <h4>{{ page.description }} </h4>
  {% endif %}{% endcomment %}

  {% comment %}<div class="page-content">{% endcomment %}
    {{ page.content }}
  {% comment %}</div>{% endcomment %}

</div>
