@import "base/variables";

@mixin slider_info_box_standard($container, $type, $type_ref) {

  .#{$containerSlider_gl}-#{$container}-#{$type} {
    //margin needed for controls prev/next, slider_controls.scss, slider_active.scss
    margin-left: 50px;
    margin-right: 50px;    
    // @include breakpoint($break-sm-max){
    @media screen and (max-width: $break-sm)
    {
      margin: 0;
    }

    .#{$info_gl} {
      line-height: 20px;
      margin: 0 0 -150%;
      position: absolute;
      font-style: italic;
      padding: 30px 30px;
      opacity: 0;
      color: #000;
      text-align: left;
    }

    .#{$info_gl} h3 {
      color: #333;
      margin: 0 0 5px;
      font-weight: normal;
      font-size: 22px;
      font-style: normal;
    }

  }
}
