@import "base/variables";


@mixin slider_design_standard($container, $container_ref, $type, $type_ref, $bg_define, $bg_color, $header_define, $header_color) {

  .#{$containerSlider_gl}-#{$container}-#{$type} {

    .heading {
      width: 100%;
      margin: 0;

      h3 {
        margin-left: $spacing-h/2;
        margin-top: 0;
        font-size: 1.7em;
        font-weight: 600;
      }

      .slider-loop {
        display: none;       
      }
      
      @if $header_define == true {
        color : $header_color;

        .slider-loop input:checked + .slider {
          background-color: $header_color;
        }
      }

      a {
        color: inherit;
      }    
    }
    

    label, a {
      color: teal;
      cursor: pointer;
      text-decoration: none;
    }
    label:hover, a:hover {
      color: #000 !important;
    }

    label, .#{$active_gl}, img { -moz-user-select:none;-webkit-user-select:none; }

    .#{$slider_gl} {

      // margin:0 auto;
      margin:0;
      text-align: center;
      // add responsive
      // max-width: 960px;
      max-width: 1200px;

      .heading {
        width: 100%;
        font-size: 1.7em;
        font-weight: 600;
        margin-left: 0.5em; //$spacing-h/2; //0.5em;
        padding-top: 1em; //$spacing-v/2; //1em;

        @if $container_ref != 'coll_ext' {
          color : white;

        }
      }

      .#{$slides_gl} {
        // margin: $spacing-v 0 0;
        margin: 0;
        
        padding: 1%;

        @if $container_ref != 'coll_ext' and $bg_define == true {
          background: $bg_color; // #fff;
          border-radius: 0.5em;
          box-shadow: 1px 1px 4px #666;
        }
      }

      .#{$slides_gl} .#{$inner_gl} {
        line-height: 0;
      }
    }



  }
}

@mixin slider_default_custom_design_coll_ext($container, $container_ref, $type, $type_ref, $id, $heading_color, $slides_background, $hide_heading_dist1 ) {

  .#{$containerSlider_gl}-#{$container}-#{$type} {

    .heading {   
      color : $heading_color;
    }
    .slider-loop {      
      input:checked + .slider {
        background-color: $heading_color;
      }
    }

    .#{$slider_gl}-#{$type}-#{$id} {

      .heading {
        @if $hide_heading_dist1 == true {
          display: none;
        }
        color : $heading_color;
      }

      .#{$slides_gl} {
        background: $slides_background;
      }
    }

  }
}
