@import "base/variables";


// ++++++++++++++++++++++
// active ctl part

%animation-active {
  background: #333;
  border-color: #333 !important;
}

@mixin slider_active_ctl_standard($container, $type, $type_ref) {

  .#{$containerSlider_gl}-#{$container}-#{$type} {

    .#{$active_gl} {
      margin: 30% 0 0;
      text-align: center;
      //adapt display , see slider_info_box.scss
      @media screen and (max-width: $break-sm)
      {
        margin: 25% 0 0;
      }
      @media screen and (max-width: $break-ssm)
      {
        margin: 20% 0 0;
      }
    }

    .#{$active_gl} label {
      border-radius: 5px;
      // display: inline-block;
      //adapt display , see slider_info_box.scss
      display: none;
      @media screen and (max-width: $break-sm)
      {
        display: inline-block;
      }
      width: 10px;
      height: 10px;
      background: #bbb;
    }

    .#{$active_gl} label:hover {
      background: #ccc;
      border-color: #777 !important;
    }

  }
}


%animation-active-coll-ext {
  .radius {
    background: #333;
    border-color: #333 !important;
  }
  .miniature {
    // recopy :hover state
    border-color: white !important;
    // border-radius: $border-radius-site;
    box-shadow: 0 0 $border-shadow rgba(60, 8, 12, 0.9);
  }
}

@mixin slider_active_ctl_coll_ext($container, $type, $type_ref) {

  .#{$containerSlider_gl}-#{$container}-#{$type} {

    .#{$active_gl} {
      // margin: 5% 0 0;
      margin: 0;
      text-align: center;
    }

    .#{$active_gl} {

      label {        

        .radius {
          border-radius: 5px;
          display: inline-block;
          width: 10px;
          height: 10px;
          background: #bbb;
        }
        &:hover .radius {
          background: #ccc;
          border-color: #777 !important;
        }

        .miniature {
          display: inline-block;
          // margin-right: $spacing-h/2;
          margin: $spacing-v/4 0 $spacing-v/4 $spacing-h/2 ;
          // margin-bottom: $spacing-v/4;
          border-radius: $border-radius-site;
          box-shadow: 0 0 $border-shadow rgba(60, 8, 12, 0.5); // primary-color-dark convert rgb !
          border: 2px solid #bbb;
          padding: $spacing-v/4 $spacing-h/2;
          background: #bbb;
          color:white;

          p {
            font-size:1.2em;
            font-weight: bold;
            line-height: 1.5em;
          }          
        }

        // .miniature:first-of-type {
        //   margin-left: $spacing-h/2; 
        // }

        &:hover .miniature {          
          // border-radius: $border-radius-site;
          box-shadow: 0 0 $border-shadow rgba(60, 8, 12, 0.9);
          // border-color: white !important;         
        }        
      }     
    }

  }
}
